<div class="mt-3"></div>
<div class="container">
  <div class="card text-primary">
    <div class="card-header text-center">
      <h1 class="card title">
        {{titulo}}
      </h1>
    </div>
    <div class="card-body text-primary">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>idAsistente</td>
            <td>nombre</td>
            <td>A.Paterno</td>
            <td>A.Materno</td>
            <td>Email</td>
            <td>fechaRegistro</td>
          </tr>
        </thead>
        <tbody>
          <tr **ngFor="let asi of listaDeAsistentes">
            <td>{{asi.idAsistente}}</td>
            <td>{{asi.nombre}}</td>
            <td>{{asi.paterno}}</td>
            <td>{{asi.materno}}</td>
            <td>{{asi.email}}</td>
            <td>{{asi.fechaRegistro}}</td>
            <td>
              <a href="" class="btn btn-outline-danger">
                Eliminar
              </a>
            </td>
            <td>
              <a href="" class="btn btn-outline-success">
                Actualizar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

